.v-application {
  font-family: IRANYekanXFaNum !important;
}

.text-h4 {
  font-family: IRANYekanXFaNum !important;
}

.v-input__details {
  align-items: flex-start !important;
  text-align: right;
}

.ck-editor__editable_inline {
  min-height: 350px;
}
